<div class="root">
  <p class="name">Hey👋, I am Frank Were.</p>
  <p class="welcome">welcome to my website!!</p>
  <div class="music">
    <iframe
      class="spotify-iframe"
      style="border-radius: 12px"
      src="https://open.spotify.com/embed/track/5M1jLJJHv5HXryiFM9AIsG?utm_source=generator"
      width="100%"
      height="300"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>
  <div class="icon">
    <div class="medium">
      <div class="icon-container">
        <a
          href="https://www.instagram.com/onesso_were/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </div>

      <div class="icon-container" (click)="openWhatsApp()">
        <a target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </div>
      <div class="icon-container">
        <a
          href="https://x.com/FrankOdhis1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <fa-icon [icon]="faXTwitter"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
